PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/fixxi
JWT_SECRET=change_this_to_a_long_random_secret
JWT_OTP_SECRET=change_this_otp_secret_too
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_gmail_app_password
ADMIN_EMAIL=bilawal22204@gmail.com
ADMIN_PASSWORD=Bilawal1122
PASSING_TEST_SCORE=60
BASE_URL=http://localhost:3000
